body {
    margin: 0;
    padding: 0;

    background-color: black;

    overflow-y: scroll;



}

.toggle-side-bar.active~body {
    position: fixed;
}

/* Track */
body::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */


}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar handle */
    border-radius: 5px;
    /* Rounded corners of the scrollbar handle */



}


p {
    margin: 0;
    padding: 0;
}

.nav-bar {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.toggle-bar i {
    font-size: 25px;
    color: rgb(204, 200, 200);
    padding: 5px;
}

.toggle-bar i:hover {
    background-color: rgb(72, 70, 70);
    opacity: 1;
    border-radius: 100%;
    cursor: pointer;
}

.left-bar {
    display: flex;
    align-items: center;
}

.nav-bar .home {
    display: flex;
    align-items: center;
    margin-left: 17px;
    position: relative;
    cursor: pointer;
}

.nav-bar .home .home-toolip {
    position: fixed;
    background-color: rgb(35, 35, 35);
    color: white;
    opacity: 0;
    visibility: hidden;
    font-size: smaller;
    text-wrap: nowrap;
    padding: 5px;
    border: solid 1px white;
    z-index: 1;

}

/* .nav-bar .home:hover .home-toolip{
    opacity: 1;
    visibility: visible;
} */

.nav-bar .home .tag {
    position: absolute;
    font-size: 9px;
    font-weight: 100;
    right: -20px;
    top: 5px;
}

.middle-bar {
    width: 60%;
    position: relative;
    display: flex;
    align-items: center;
}

.middle-bar input {
    max-width: 500px;
    flex: 1;
    width: 0;
    flex-shrink: 1;
    height: 30px;
    border: solid 1px rgb(130, 127, 127);
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    padding-left: 15px;
    background-color: black;
    color: white;
    margin-left: 50px;



}

.search-bar-icon-holder-submit {
    height: 32px;
    width: 50px;
    background-color: rgb(39, 38, 38);
    border: solid 1px rgb(134, 129, 129);
    border-left: none;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;




}

.search-bar-icon-holder {
    height: 32px;
    width: 30px;
    left: 20px;
    position: absolute;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 1px rgb(4, 4, 186);
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    visibility: hidden;
}

.search-bar-icon-holder i {
    margin-left: 15px;
}

/* .middle-bar input:focus{
    border: solid 1px rgb(237, 154, 0);
    border-left: none;
} */


.middle-bar input::placeholder {
    font-size: 15px;
}

.nav-bar .home i {
    color: red;

    margin-top: 2px;
    font-size: 35px;
}

.nav-bar .home span {
    font-weight: bold;
}

.voice-search-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 15px;
    background-color: rgb(49, 49, 49);
    border-radius: 100%;
}

.voice-search-holder i {
    font-size: 20px;
    color: white;
}

.voice-search-holder:hover {
    background-color: rgb(83, 83, 83);
    cursor: pointer;
}

.right-bar {
    display: flex;
    align-items: center;
}

.right-bar i {
    font-size: 20px;
    padding: 10px;
    border-radius: 100%;

}

.right-bar img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
    margin-left: 10px;

}

.right-bar i:hover {
    background-color: rgb(83, 83, 83);
    cursor: pointer;
}

.notify {
    position: relative;
}

.notify .num-notify {
    position: absolute;
    background-color: rgb(173, 25, 25);
    color: white;
    font-size: 13px;
    padding: 1px 3px;
    border-radius: 10px;
    top: 5px;
    right: 0;
}
.tooltip-holder{
    position: relative;
}
.tooltip-holder:hover .nav-tooltip{
    opacity: 1;
}
.nav-tooltip{
    position: absolute;
    background-color: rgb(78, 78, 78);
    color: white;
    border-radius: 3px;
    text-wrap: nowrap;
    padding: 5px;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    z-index: inherit;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
}

.nav-scroller {
    height: 80px;
    background-color: black;
    position: fixed;
    top: 50px;
    left: 80px;
    right: 0;
    z-index: 4;




}

.nav-scroller-holder {


    margin-right: 20px;
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-scroller-inner {

    overflow: scroll;

    scroll-behavior: smooth;
    -webkit-mask: linear-gradient(90deg, transparent, white 0%, white 90%, transparent);
    mask: linear-gradient(transparent, white);

}

.nav-scroller-inner::-webkit-scrollbar {
    display: none;
}

.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}

.tag-list li {
    padding: 10px;
    background: rgb(66, 63, 63);
    border-radius: 0.5rem;
    color: white;
    text-wrap: nowrap;
    cursor: pointer;
}

.tag-list li:first-child {
    background-color: white;
    color: black;
}

.borderCircle {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: black;
    position: relative;
    cursor: pointer;

}

#prevScroll {
    display: none;
}

.borderCircle:hover {
    background-color: rgb(61, 60, 60);
}

.arrow {
    display: inline-block;
    border: 3px solid white;
    width: 5px;
    height: 5px;
    border-left: none;
    border-bottom: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.arrowLeft {
    transform: rotateZ(-135deg);
}

.arrowRight {
    transform: rotateZ(45deg);
}

.side-bar {
    width: 80px;
    background-color: black;
    color: white;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    padding-top: 20px;
    z-index: 7;
}

.side-bar .side-bar-item {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 70px;
    height: 80px;
    border-radius: 10px;
    margin-left: 3px;


}

.side-bar .side-bar-item:hover {
    cursor: pointer;
    background-color: rgb(53, 53, 53);
}

.side-bar .side-bar-item span {
    font-size: 10px;
}

.side-bar .side-bar-item i {
    font-size: 20px;
}
.side-tooltip{
    position: fixed;
    background-color: rgb(35, 35, 35);
    color: white;
    opacity: 0;
    visibility: hidden;
    font-size: smaller;
    text-wrap: nowrap;
    padding: 5px;
    border: solid 1px white;
    z-index: 50;
}

.toggle-side-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(11, 11, 11, 0.5);

    visibility: hidden;
    transition: all 0.2s;
    z-index: 10;

}

.toggle-side-bar .toggle-side-bar-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    padding-right: 3px;
    background-color: black;
    color: white;
    opacity: 0;

    transition: all 0.2s;

}

.toggle-side-bar .toggle-side-bar-content .toggle-items {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

/* Track */
.toggle-side-bar .toggle-side-bar-content .toggle-items::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
    padding: 2px;
}

/* Handle */
.toggle-side-bar .toggle-side-bar-content .toggle-items::-webkit-scrollbar-thumb {
    background: black;
    /* Color of the scrollbar handle */
    border-radius: 5px;
    /* Rounded corners of the scrollbar handle */
    margin-right: 3px;
}

/* Handle on hover */
.toggle-side-bar .toggle-side-bar-content:hover .toggle-items::-webkit-scrollbar-thumb {
    background: #7b7b7b;
    /* Color of the scrollbar handle on hover */
}

/* .toggle-side-bar .toggle-side-bar-content .toggle-items::-webkit-scrollbar{
    background-color: black;
    color: white;
  } */
.toggle-side-bar.active .toggle-side-bar-content {
    opacity: 1;
}

.toggle-side-bar.active body {
    position: fixed;
}

.toggle-header {

    padding-left: 20px;
    height: 50px;
    background-color: black;
    display: flex;

    align-items: center;
    color: white;
}

.toggle-header .home {
    display: flex;
    align-items: center;
    margin-left: 17px;
    position: relative;
    cursor: pointer;
}

.toggle-header .home .home-toolip {
    position: fixed;
    background-color: rgb(35, 35, 35);
    color: white;
    opacity: 0;
    visibility: hidden;
    font-size: smaller;
    text-wrap: nowrap;
    padding: 5px;
    border: solid 1px white;
    z-index: 1;

}

/* .toggle-header .home:hover .home-toolip{
    opacity: 1;
    visibility: visible;
} */

.toggle-header .home .tag {
    position: absolute;
    font-size: 9px;
    font-weight: 100;
    right: -20px;
    top: 5px;
}

.toggle-header .home i {
    color: red;

    margin-top: 2px;
    font-size: 35px;
}

.toggle-header .home span {
    font-weight: bold;
}

.toggle-side-bar-content ul {
    list-style: none;

    padding: 0;
}

.toggle-side-bar-content ul li {

    width: 75%;
    margin-left: 20px;

    border-radius: 10px;
    padding: 7px 0 7px 7px;
    display: flex;
    align-items: center;
}

.toggle-side-bar-content ul li i {
    font-size: 25px;

}

.toggle-side-bar-content ul li span {
    margin-left: 20px;

}

.toggle-side-bar-content .underline {
    width: 90%;

    margin-left: auto;
    margin-right: auto;

    border: none;
    border-bottom: solid 1px rgb(112, 105, 105)
}

.toggle-side-bar-content ul li:hover {
    background-color: rgb(53, 51, 51);
    cursor: pointer;
}

.toggle-side-bar-content ul .you span {
    margin-left: 0;
}

.toggle-side-bar-content ul .you i {
    font-size: 25px;

}

.video-previews {
    padding-top: 140px;
    padding-left: 80px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 17px;
}
.video-previews .video-preview-item{
    position: relative;
}

.video-previews .video-preview-item .thumbnail {
    width: 100%;
    position: relative;
}



@keyframes fadeOutBorder {
    0% {
        background-color: rgb(72, 70, 70);
        border: solid 1px rgb(184, 178, 178);
        box-sizing: border-box;
    }

    100% {
        background-color: black;
        border: solid 1px transparent;
        box-sizing: border-box;
    }
}


/* .three-dot div: */
.video-previews .video-preview-item .thumbnail .video-time {
    position: absolute;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 5px;
    border-radius: 2px;
    bottom: 5px;
    right: 5px;
}

.video-previews .video-preview-item .thumbnail img {
    width: 100%;
    border-radius: 10px;
    
    cursor: pointer;
}

.video-previews .video-preview-item .video-preview-details {
    display: grid;
    grid-template-columns: 35px 1fr 43px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}
.channel-profile{
    margin-right: 10px;
}
.video-previews .video-preview-item .video-preview-details:hover .three-dot div{
    visibility: visible;
}

.video-previews .video-preview-item .video-preview-details .channel-profile img {
    width: 100%;
    border-radius: 100%;
}

.video-previews .video-preview-item .video-preview-details .video-title{
    margin-right: 2px;
}

.video-previews .video-preview-item .video-preview-details .video-title p {
    margin-bottom: 7px;
    color: rgb(182, 176, 176);
}

.video-previews .video-preview-item .video-preview-details .video-title .description {
    font-weight: bold;
    font-size: 17px;
    color: white;
}

/* .video-previews .video-preview-item .video-preview-details .three-dot{
    width: 100px;
} */



.three-dot{
    position: relative;
}
.wrapper{
    width: 43px;
    height: 43px;
    position: absolute;
    top: -10px;
    left: 10px;
}
.three-dot .clickable-div {
    width: 43px;
    height: 43px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    visibility: hidden;
    

}
.clickable-div span{
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: white;
}
.selectors{
    position: absolute;
    width: 250px;
    
    background-color: rgb(52, 51, 51);
    border-radius: 10px;
    
    z-index: 12;
    visibility: visible;
    display: none;
    
}

.selectors .selector-item ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.selectors .selector-item{
    margin-top: auto;
    margin-bottom: auto;
}
.selectors .selector-item ul li{
    
    height: 35px;
    padding-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;

}
.selectors .selector-item ul li i{
    font-size: 25px;
}
.selectors ul li:hover{
    background-color: rgb(105, 103, 103);
}
.ruler{
    width: 100%;
    border: none;
    border-bottom: solid 1px rgb(143, 142, 142);
}
.clicked {
    background-color: rgb(72, 70, 70);

}

.unclicked {

    animation: fadeOutBorder 0.3s linear forwards;
}


@media (max-width: 800px) {
    .side-bar {
        display: none;
    }

    .nav-scroller {
        left: 0;
    }

    .nav-scroller-holder {


        margin-left: 20px;

    }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
    .video-previews {

        grid-template-columns: 1fr 1fr;

    }
}

@media only screen and (max-width: 700px) {
    .video-previews {

        grid-template-columns: 1fr;

    }
}